body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
     padding: 20px;
    color: #333; /* Cor mais suave para o texto */
}

header img {
    display: block; /* Remove espaçamento abaixo da imagem */
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaço entre a imagem e o conteúdo abaixo */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    font-size: 1em; /* Tamanho de fonte proporcional */
    box-shadow: 0 2px 5px rgba(0,123,255,.3); /* Sombra para dar profundidade */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transição suave para efeitos de hover */
}

button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0,123,255,.5); /* Sombra maior ao passar o mouse */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

textarea {
    width: 100%;
    height: 100px;
}


table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0,0,0,.1); /* Sombra para a tabela inteira */
}

th, td {
    border: 1px solid #ddd; /* Bordas mais suaves */
    padding: 0px 12px; /* Espaçamento maior dentro das células */
    text-align: left;
}

th {
    background-color: #f8f9fa; /* Cor de fundo para o cabeçalho da tabela */
    font-weight: normal; /* Removendo negrito */
}

td {
    background-color: #ffffff; /* Cor de fundo para as células */
}

#emotionList div {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Borda arredondada */
    display: inline-block;
}

/* Estilo para os botões de ação com ícones */
button.edit, button.delete {
    padding: 5px; /* Espaçamento interno suficiente para toque fácil em telas sensíveis ao toque */
    width: 30px; /* Largura fixa para os botões para evitar espaçamento extra */
    height: 30px; /* Altura fixa para manter os botões quadrados */
    line-height: 1; /* Linha de altura para centralizar os ícones verticalmente */
    display: inline-block; /* Para permitir definir largura e altura */
    vertical-align: middle; /* Alinha verticalmente se houver texto */
}

/* Cores específicas para editar e excluir */
button.edit {
    color: #ffc107; /* Cor amarela para editar */
}

button.edit:hover {
    color: #e0a800; /* Cor amarela mais escura ao passar o mouse */
}

button.delete {
    color: #dc3545; /* Cor vermelha para excluir */
}

button.delete:hover {
    color: #bd2130; /* Cor vermelha mais escura ao passar o mouse */
}

/* Definir largura máxima para a coluna de ações */
th.actions, td.actions {
    width: 1%; /* Faz a coluna ser o mais estreita possível, contendo os ícones */
    white-space: nowrap; /* Evita que o conteúdo da célula quebre em várias linhas */
    text-align: center; /* Centraliza os ícones */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#infoIcon {
    animation: bounce 1s infinite;
    display: inline-block;
    margin-left: 10px;
}

.infoModalStyle {
    background-color: #fff; /* Fundo branco para destacar o conteúdo */
    border-radius: 10px; /* Bordas arredondadas para um visual suave */
    padding: 20px; /* Espaçamento interno */
    width: 80%; /* Largura adaptável ao conteúdo */
    max-width: 500px; /* Largura máxima para dispositivos maiores */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidade */
    position: fixed; /* Fixo na tela */
    left: 50%; /* Centralização horizontal */
    top: 50%; /* Centralização vertical */
    transform: translate(-50%, -50%); /* Ajuste fino da centralização */
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

.infoModalStyle h2 {
    color: #333; /* Cor escura para o título */
    font-size: 1.5em; /* Tamanho maior para o título */
    margin-top: 0; /* Sem margem no topo para alinhar com o fechar */
    padding-bottom: 10px; /* Espaçamento abaixo do título */
    border-bottom: 1px solid #eee; /* Linha sutil abaixo do título */
    text-align: center; /* Centralizar o título */
}

.infoModalStyle p,
.infoModalStyle ul {
    color: #555; /* Cor para texto normal */
    font-size: 1em; /* Tamanho padrão do texto */
    line-height: 1.6; /* Espaçamento entre linhas para leitura confortável */
    text-align: justify; /* Justificar o texto para melhor fluidez */
}

.infoModalStyle .close {
    position: absolute; /* Posicionamento absoluto */
    right: 10px; /* Direita da caixa de diálogo */
    top: 10px; /* Topo da caixa de diálogo */
    background: transparent; /* Sem fundo */
    border: none; /* Sem borda */
    font-size: 1.5em; /* Tamanho do ícone de fechar */
    cursor: pointer; /* Mãozinha ao passar o mouse */
}

.infoModalStyle .close:hover {
    color: #000; /* Cor ao passar o mouse */
}

